<div class="col">
    <div class="card mb-4 rounded-3 shadow-sm" >
        {% comment %}
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
        </div>
        {% endcomment %}

        <div class="card-body perenos">
            <img class='image-top' src=".." alt="Card image cap" height="42" width="42">

            <h5 class="card-title pricing-card-title">{{ i.name }}</h5>
            <h6><small class="text-muted fw-light">{{ i.id }}</small></h6>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Buy</button>
        </div>
    </div>
</div>